/*
ul li{
    display: inline;
    list-style-type: none;
    padding-right: 50px;
}

ul li a{
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

ul li a:hover{
    animation-name: a;
    animation-duration: 10s;
    padding: 5px;
}

@keyframes a {
    0% {background-color: red;}
    25% {background: linear-gradient(cyan, grey,wheat);}
    50% {background-color: black;}
    75% {background-color: yellow;}
    100% {background-color: tomato;}
}

.nav-right{
    float: right;
}

ul{
}*/

.nav-right{
    float: right;
}